# === pgAdmin ===
PGADMIN_IMAGETAG=7.5-0
PGADMIN_IMAGE=theanurin/pgadmin4
# Set "yes" to launch pgAdmin server. Use EMPTY value to prevent launch pgAdmin server.
PGADMIN_RUN=yes
# Set "yes" to use a volume to store pgAdmin data. Useful to long runs.
PGADMIN_USEDATAVOLUME=

# === Postgres Server ===
POSTGRES_IMAGETAG=13.12.1
POSTGRES_IMAGE=theanurin/devel.postgres-13
# Set "yes" to use a volume to store Postgres data. Useful to long runs.
POSTGRES_USEDATAVOLUME=

# === Redis ===
REDIS_IMAGETAG=5.0-alpine
REDIS_IMAGE=redis
# Set "yes" to use a volume to store Redis data. Useful to long runs.
REDIS_USEDATAVOLUME=

# === Redis Commander ===
REDISCOMMANDER_IMAGETAG=latest
REDISCOMMANDER_IMAGE=rediscommander/redis-commander
#REDISCOMMANDER_IMAGETAG=0.7.2-0
#REDISCOMMANDER_IMAGE=theanurin/redis-commander
# Set "yes" to launch Redis Commander. Use EMPTY value to prevent launch Redis Commander.
REDISCOMMANDER_RUN=yes
